.about-info#about-info
  .container
    .about-info__items
      img(src='./img/img.png').about-info__img
      .about-info__item
        img(src='./img/logo.png').about-info__title
        .about-info__tagline Исключительная и прозрачная сервис-площадка для заработка на спортивных событиях
        p iRaise Российская компания, которая занимается аналитической деятельностью в сфере спортивных состязаний и позволяет своим клиентам извлекать высокий доход из букмекерского бизнеса. Перенимая лучшее, что было сделано до нас, учась на чужих ошибках, мы создаём самую безопасную и надёжную систему инвестирования из всех когда-либо существовавших.
        a(href='#').about-info__registration Регистрация
