.first-screen
  .container
    a(href='#').big-logo
    h1 Революционный взгляд на заработок  с букмекерского бизнеса
    .d-flex
      a.default-btn подробнее
    a.mouse(href="#about-info")

  include ../components/show-video