.last-profitability
  .container
    .row
      .col
        .why-trusted__item
          .why-trusted__item--ico
            .why-trusted__item--ico__item
          .why-trusted__item--title +174
            span %
        .last-profitability__title Доходность iRaise за  последние 100 дней

