.management-history
  .container
    .row
      .col
        h2 История управления
        .management-history__item
          .management-history__top
            span Выберите дату:

            .slider.single-item
              div
                .date-item Январь 2019
              div
                .date-item Февраль 2019
              div
                .date-item Март 2019
              div
                .date-item Апрель 2019
              div
                .date-item Май 2019
              div
                .date-item Июнь 2019
              div
                .date-item Июль 2019
              div
                .date-item Август 2019
              div
                .date-item Сентябрь 2019
              div
                .date-item Октябрь 2019
              div
                .date-item Ноябрь 2019
              div
                .date-item Декабрь 2019

          .management-history__table.table-responsive
            table.table
              thead
                tr
                  th(scope='col') Пн
                  th(scope='col') Вт
                  th(scope='col') Ср
                  th(scope='col') Чт
                  th(scope='col') Пт
                  th(scope='col') Сб
                  th(scope='col') Вс
              tbody
                tr
                  td.active
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1 янв
                  td
                    .table-item.minus
                      | -0,22%
                      span 2 янв
                  td
                    .table-item.plus
                      | +4,48%
                      span 3 янв
                  td
                    .table-item.plus
                      | +1,12%
                      span 4 янв
                  td
                    .table-item.minus
                      | -1,25%
                      span 5 янв
                  td
                    .table-item.plus
                      | +7,12%
                      span 6 янв

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1 янв
                  td
                    .table-item.minus
                      | -0,22%
                      span 2 янв
                  td
                    .table-item.plus
                      | +4,48%
                      span 3 янв
                  td
                    .table-item.plus
                      | +1,12%
                      span 4 янв
                  td
                    .table-item.minus
                      | -1,25%
                      span 5 янв
                  td
                    .table-item.plus
                      | +7,12%
                      span 6 янв

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1 янв
                  td
                    .table-item.minus
                      | -0,22%
                      span 2 янв
                  td
                    .table-item.plus
                      | +4,48%
                      span 3 янв
                  td
                    .table-item.plus
                      | +1,12%
                      span 4 янв
                  td
                    .table-item.minus
                      | -1,25%
                      span 5 янв
                  td
                    .table-item.plus
                      | +7,12%
                      span 6 янв

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1 янв
                  td
                    .table-item.minus
                      | -0,22%
                      span 2 янв
                  td
                    .table-item.plus
                      | +4,48%
                      span 3 янв
                  td
                    .table-item.plus
                      | +1,12%
                      span 4 янв
                  td
                    .table-item.minus
                      | -1,25%
                      span 5 янв
                  td
                    .table-item.plus
                      | +7,12%
                      span 6 янв

                tr
                  td
                    .table-item.plus
                      | +0,18%
                      span 31 дек
                  td
                    .table-item.plus
                      | +5,12%
                      span 1 янв
                  td
                    .table-item.minus
                      | -0,22%
                      span 2 янв
                  td
                    .table-item.plus
                      | +4,48%
                      span 3 янв
                  td
                    .table-item.plus
                      | +1,12%
                      span 4 янв
                  td
                    .table-item.minus
                      | -1,25%
                      span 5 янв
                  td
                    .table-item.plus
                      | +7,12%
                      span 6 янв

  .management-history__result-item
    .container
      .row
        .col
          h3 События на 08.02
    .management-history__result
      .container
        .row
          .col
            .table-responsive
              table.table
                thead
                  tr
                    th(scope='col') Событие
                    th(scope='col') % от банка
                    th(scope='col') Ставка
                    th(scope='col') Коэффициент
                    th(scope='col') Букмекер
                    th(scope='col') Результат
                tbody
                  tr
                    td Футбол. Астон Вилла - Ливерпуль
                    td 5%
                    td ТБ (2.5)
                    td 3.2
                    td WinLine
                    td.win Выигрыш
                  tr
                    td Футбол. Астон Вилла - Манчестер сити
                    td 1%
                    td 1Х
                    td 1.15
                    td ФонБет
                    td.loss Проигрыш
                  tr
                    td Футбол. Астон Вилла - Ливерпуль
                    td 5%
                    td ТБ (2.5)
                    td 3.2
                    td WinLine
                    td.win Выигрыш
                  tr
                    td Футбол. Астон Вилла - Ливерпуль
                    td 5%
                    td ТБ (2.5)
                    td 3.2
                    td WinLine
                    td Возврат
                  tr
                    td Футбол. Астон Вилла - Ливерпуль
                    td 5%
                    td ТБ (2.5)
                    td 3.2
                    td WinLine
                    td.win Выигрыш


