.profit-customers
  .container
    .row
      .col
        .profit-customers__items
          .profit-customers__items--profit Прибыль клиентов за
            span 08.02
          .why-trusted__item--ico
            .why-trusted__item--ico__item.analysis-ico
              svg(width='100%' height='100%' viewbox='0 0 426 426' version='1.1' xmlns='http://www.w3.org/2000/svg')
                path.path(stroke='#ffffff' stroke-width='10' fill='none' d='M213,423 C328.979803,423 423,328.979803 423,213 C423,97.0201968 328.979803,3 213,3 C97.0201968,3 3,97.0201968 3,213 C3,328.979803 97.0201968,423 213,423 Z')

            .profit-item +
              .profit 5.12
              .persent %