.registration
  .container
    .row
      .col
        h4 Хотите узнать на какие события iRaise распределила деньги сегодня?
          br
          |Просто пройдите регистрацию!
        a(href='#').default-btn.registration__btn Зарегистрироваться