.why-trusted
  .container
    h2 Почему iRaise стоит доверять?
    .why-trusted__items
      .row
        .col-lg-12.col
          .why-trusted__item.file-item.wow(data-wow-delay='1s' data-wow-offset='10')
            .why-trusted__item--ico
              .why-trusted__item--ico__item.file-ico.wow.animated
                svg(width='100%' height='100%' viewbox='0 0 426 426' version='1.1' xmlns='http://www.w3.org/2000/svg')
                  path.path(stroke='#ffffff' stroke-width='10' fill='none' d='M213,423 C328.979803,423 423,328.979803 423,213 C423,97.0201968 328.979803,3 213,3 C97.0201968,3 3,97.0201968 3,213 C3,328.979803 97.0201968,423 213,423 Z')

              +sprite("icon file animated pulse", "file")
            p Компания зарегистрирована в России, а не в оффшорной зоне.
              br
              | ООО “Айрэйз” контролируется в соответствии
              br
              |с Российским законодательством.
            a(href='#').why-trusted__item--link Смотреть документацию

        .col-lg-6.col
          .ml-0.why-trusted__item.teamwork-item.wow(data-wow-delay='3s')
            .why-trusted__item--ico
              .why-trusted__item--ico__item.teamwork-ico.animated.wow.delay-2s
                svg(width='100%' height='100%' viewbox='0 0 426 426' version='1.1' xmlns='http://www.w3.org/2000/svg')
                  path.path(stroke='#ffffff' stroke-width='10' fill='none' d='M213,423 C328.979803,423 423,328.979803 423,213 C423,97.0201968 328.979803,3 213,3 C97.0201968,3 3,97.0201968 3,213 C3,328.979803 97.0201968,423 213,423 Z')

              img(src='./img/teamwork.png').teamwork.icon.animated.pulse

            p Открытая и сплочёная команда аналитиков.
              br
              |Суммарный опыт аналитиков iRaise более 23-х лет.
            a(href='#').why-trusted__item--link познакомиться с командой

        .col-lg-6.col
          .mr-0.why-trusted__item.analysis-item.wow(data-wow-delay='2s')
            .why-trusted__item--ico
              .why-trusted__item--ico__item.analysis-ico.animated.wow.delay-2s
                svg(width='100%' height='100%' viewbox='0 0 426 426' version='1.1' xmlns='http://www.w3.org/2000/svg')
                  path.path(stroke='#ffffff' stroke-width='10' fill='none' d='M213,423 C328.979803,423 423,328.979803 423,213 C423,97.0201968 328.979803,3 213,3 C97.0201968,3 3,97.0201968 3,213 C3,328.979803 97.0201968,423 213,423 Z')

              +sprite("icon analysis animated pulse", "analysis")

            p Только компания iRaise устраивает Открытые дни и
              br
              |заранее демонстрирует на какие события распределяется
              br
              |клиентский капитал! Вы можете убедиться и
              br
              |поставить на события самостоятельно.
            a(href='#').why-trusted__item--link Смотреть Ставки iRaise
