.grafic-tabs {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(29, 29, 29, 0.1) 100%), #0d182d;
  background-blend-mode: soft-light;
  padding-top: 110px;
  @include adapt_to('large-phone') {
    padding-top: 50px;
  }
  h2 {
    margin-bottom: 60px;
  }
  .nav-tabs {
    border-bottom: none;
    margin-bottom: 36px;
    .nav-item {
      margin-bottom: 0;
    }
    .nav-link {
      border: none;
      padding: 12px 17px;
      border-radius: 30px;
      color: #ff6000;
      font-size: 18px;
      line-height: 20px;
      font-family: $font-exo;
      margin-right: 23px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: #252525;
        background: #ff6000;
      }
    }
  }
  .tab-content {
    .month-grafic {
      max-width: 930px;
      max-height: 530px;
      margin: auto auto 105px;
      background: rgba($white, .1);
      padding: 60px 35px 35px;
      box-shadow: 0 5px 25px 0 rgba(1, 3, 3, 0.15);
      @include adapt_to('large-phone') {
        margin-bottom: 20px;
        padding: 20px;
      }
      .highcharts-color-0 {
        fill: $white;
        .highcharts-area {
          fill: rgba($white, .1);
        }
        &:hover {
          fill: #fb5e05;
        }
      }
      g.highcharts-label.highcharts-tooltip-box.highcharts-color-0 {
        fill: transparent;
      }
      .highcharts-tooltip-box .highcharts-label-box {
        fill: #fb5e05;
        fill-opacity: 1;
        color: $white;
        border-radius: 30px;
        .highcharts-tooltip text {
          fill: $white;
          font-size: 14px;
          font-family: $font-exo;
        }
      }

      .highcharts-background {
        fill: rgba($white, .0);
        stroke: rgba($white, .0);
        stroke-width: 0;
      }
      .highcharts-axis-labels {
        fill: $white;
        font-family: $font-exo;
        cursor: default;
        font-size: 14px;
      }
    }
  }
}