extends ../extends/layout
block variables
  - var title = "News list";

block content
  .outer-indent
    .container
      section.list-news
        .list-news__item
          .carousel__item--info__description
            a(href='one-news.html').carousel__item--info__title Компания IRaise сегодня розыграет куча призов к новогодним праздникам, будь в курсе!
            .carousel__item--info__from
              .carousel__item--info__from--sender От:
                a(href='#') Пресс-центр
              .carousel__item--info__from--date 09.01.2019
              .carousel__item--info__from--sender Категория:
                a(href='#') Промоакции
            .carousel__item--info__article
              p
                |Дорогие инвесторы IRaise.
                |Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов плане  связная и полная плане связная и полная плане связная и полная последовательность последовательность последовательность в общем плане связная и полная последовательность символов плане связная и полная плане связная и полная плане связная и полнаязафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последователь.
              img(src='/img/news-1.jpg').img-fluid



  include ../components/chat