extends ../extends/layout
block variables
  - var title = "Profitability page";

block content
  .outer-indent
    include ../sections/last-profitability
    include ../sections/graph
    include ../sections/management-history
    include ../sections/profit-customers
    include ../sections/registration
