footer.footer
  .container
    .row
      .col-md-4.col
        img(src='./img/bigger-logo.png').footer-logo
        ul.footer__contact-info
          li
            span.phone
            |8 800 535-55-55
          li
            a(href="mailto:info@iraise@gmail.com")
              span.mail
              | info@iraise@gmail.com
        .copy &copy; 2019 iRaise. Все права защищены

      .col.d-flex.align-items-end
        ul.footer__menu
          li
            a(href='about.html') О Компании
          li
            a(href='#') Команда
          li
            a(href='#') Документация
          li
            a(href='#') Доходность
          li
            a(href='#') Преимущества
          li
            a(href='#') Почему мы?
          li
            a(href='#') Контакты
          li
            a(href='#') Вопрос/ответ
          li
            a(href='news-list.html') Новости
