extends ./extends/layout
block variables
	- var title = "iRaise - Home page"

block content
	.outer-indent
		include ./sections/first-screen
		include ./sections/about-info
		include ./sections/why-trusted
		include ./components/how-work
		include ./components/cashback
		include ./components/service-evaluated
		include ./components/last-news

	include ./components/chat

