/* fonts */
$font-exo: 'Exo-Regular';
$font-exo-m: 'Exo-Medium';
$font-exo-b: 'Exo-Bold';
$font-exo-l: 'Exo-Light';
$font-exo-s: 'Exo-SemiBold';
$font: Roboto;

/* color */
$white: #ffffff;
$default: #161719;
$orange: #fb5e04;