.about-info-top
  .container
    .row
      .col-md-6.col-12
        .about-info-top__body.wow.animated.fadeInLeft
          h3 Компания iRaise
          p
            | Мир спорта - это огромная индустрия бизнеса, в обороте которой миллиарды долларов.
            | Но для того, чтобы извлекать хоть какую-то прибыль из этого бизнеса нужно быть дисциплинированным,
            | иметь аналитический склад ума и хладнокровно подходить разбору спортивных событий и новостей.
            | Звучит это проще, чем выходит на самом деле, так как в подавляющем большинстве игроки быстро вылетают,
            | потеряв не только деньги, но и драгоценное время
      .col-md-6.col-12
        .about-info-top__body.wow.animated.fadeInRight
          h3 Что же предлагает iRaise?
          p
            | Мы выявили, что важнейшим фактором, помимо аналитики, является грамотное управление капиталом и
            | оценка риска относительно предлагаемого коэффициента на событие. То есть, главное - не количество выигранных событий,
            | а высокий коэффициент окупаемости инвестиций (ROI - return on investment).
            | Другими словами реально принесенная прибыль в процентном соотношении от вложенных средств.
  .about-full-description.wow.animated.fadeInUp(data-wow-delay='1s')
    .container
      .row
        .col
          .u-play-style(data-toggle="modal" data-target="#show-video")
            .u-play-video-btn
              .u-play-video-triangle
              .u-play-video-circle-rotate


          .about-full-description__body
            .position-bg
              svg(xmlns='http://www.w3.org/2000/svg' width='1985px' height='1266px')
                style.
                  path {
                    mix-blend-mode: soft-light;
                  }
                  .PSgrad_1 {
                    opacity: 0.1;
                  }
                defs
                  lineargradient#PSgrad_0(x1='0%' x2='0%' y1='100%' y2='0%')
                    stop(offset='45%' stop-color='rgb(122,36,149)' stop-opacity='1')
                    stop(offset='100%' stop-color='rgb(217,69,138)' stop-opacity='1')
                  lineargradient#PSgrad_1(x1="0%" x2="60%" y1="0%" y2="80%")
                    stop(offset='0%' stop-color='rgb(240,255,0)' stop-opacity='1')
                    stop(offset='100%' stop-color='rgb(0,0,0)' stop-opacity='1')

                path.PSgrad_1(fill-rule='evenodd' fill='url(#PSgrad_1)' d='M1985.000,1265.052 L-0.000,1265.052 L-0.000,632.552 L0.001,632.552 C0.001,632.535 -0.000,632.517 -0.000,632.500 C-0.000,283.180 444.357,-0.000 992.500,-0.000 C1136.365,-0.000 1273.081,19.507 1396.491,54.596 C1743.285,153.203 1985.000,374.862 1985.000,632.500 C1985.000,632.517 1984.999,632.535 1984.999,632.552 L1985.000,632.552 L1985.000,1265.052 Z')
                path(fill-rule='evenodd' fill='url(#PSgrad_0)' d='M1985.000,1265.052 L-0.000,1265.052 L-0.000,632.552 L0.001,632.552 C0.001,632.535 -0.000,632.517 -0.000,632.500 C-0.000,283.180 444.357,-0.000 992.500,-0.000 C1136.365,-0.000 1273.081,19.507 1396.491,54.596 C1743.285,153.203 1985.000,374.862 1985.000,632.500 C1985.000,632.517 1984.999,632.535 1984.999,632.552 L1985.000,632.552 L1985.000,1265.052 Z')



            h3 Как работает iRaise?
            p iRaise создал и внедрил уникальную систему по грамотному управлению капиталом на спортивных событиях.
              | Система работает следующим образом: Вы пополняете баланс и средства хранятся на вашем счету в iRaise. Специалисты команды iRaise берут только небольшую часть от этих средств, переводят их в БК, и распределяют сразу среди нескольких событий, делая это в различных
              | букмекерских компаниях и по выгодным коэффициентам. В итоге на каждое событие своя заранее определённая букмекерская компания и своя сумма относительно оцениваемого риска. Данный процесс полностью исключает эмоциональный фактор и даёт высокий показатель
              | окупаемости инвестиций, при низком соотношении риска. После поступления профита взятая сумма с вашего баланса возвращается к вам
              | обратно в личный кабинет iRaise, а профит делится с компанией в соотношении 60% на 40%. Где 40% от чистой прибыли - это гонорар компании, а 60% вы можете вывести на удобные реквизты. По такому алгоритму под управлением деньги работают 100 календарных дней.
            blockquote
              p.blockquote В конечном счёте вам остаётся лишь наблюдать за профессиональным
                br
                |подходом команды iRaise и снимать чистый профит!
