.benefits
  .container
    .row
      .col
        h2 Преимущества работы с iRaise
        .benefits-body
          .benefits-item.wow.animated.fadeIn
            +sprite("benefit-ico", "1")
            .benefits-item__title Широкий выбор  вариантов пополнений
            p Карты Visa/MasterCard, ЯндексДеньги, Альфа-клик и ещё более 10 платёжных систем
          .benefits-item.wow.animated.fadeIn(data-wow-delay='0.5s')
            +sprite("benefit-ico", "2")
            .benefits-item__title Оперативный вывод прибыли
            p Вывод прибыли в течение 24-х часов. Асболютно в любой день!
          .benefits-item.wow.animated.fadeIn(data-wow-delay='1s')
            +sprite("benefit-ico", "3")
            .benefits-item__title Бонусный Кэшбэк
            p 25% заработка компании от  приглашённого на постоянной основе
          .benefits-item.wow.animated.fadeIn(data-wow-delay='1.5s')
            +sprite("benefit-ico", "4")
            .benefits-item__title Официальный договор
            p Отношение с сервисом iRaise подкреплены официальным клиентским договором публичной оферты
          .benefits-item.wow.animated.fadeIn(data-wow-delay='2s')
            +sprite("benefit-ico", "5")
            .benefits-item__title Прозрачность
            p Только iRaise открыто публикует ещё до начала спортивных событий совершённые ставки
          .benefits-item.wow.animated.fadeIn(data-wow-delay='2.5s')
            +sprite("benefit-ico", "file")
            .benefits-item__title Регистрация в РФ
            p Компания ООО “Айрэйз” зарегистрирована на территории Российской Федерации под номером 2132423