.cashback
  .container
    .row
      .col.wow.animated.fadeInLeft
        .cashback__item
          h2 Кэшбэк прямо в личный кабинет
          p Расскажи о iRaise друзьям и получай по 20% от дохода сервиса ежедневно!
            | А также множество денежных
            br
            |бонусов и мегакрутых призов!
          .d-flex
            a(href='#').cashback__item-btn Получать кэшбэк
      .col-lg-5.col.wow.animated.fadeIn
        .d-flex.align-items-end.h-100
          .cashback__img
            img(src='./img/phone.png').img-fluid
            .cashback__cash
              span 20%
              | от дохода
              br
              | компании
