.how-work
  .container
    h2 Как работает площадка iRaise?
    .how-work__items
      .how-work__top
        .circle
        .how-work__items__logo
          .how-work__items__border--small
            img(src='./img/svg/big-logo.svg')
      .how-work__items__body
        .how-work__item.wow.slideInRight.step-one
          .step-position
            .how-work__item__position 01
            +sprite("position", "position-one")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description Пополняете личный  кабинет от 20$
        .how-work__item.wow.slideInRight.step-two
          .step-position
            .how-work__item__position 02
            +sprite("position", "position-two")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description Необходимая сумма распределяется среди выбранных событий в букмекерских компаниях.
        .how-work__item.wow.slideInRight.step-three
          .step-position
            .how-work__item__position 03
            +sprite("position", "position-three")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description В 10-00 средства поступают обратно в ваш личный кабинет вместе с профитом. Откуда их можно снять в любой день!
        .how-work__item.wow.slideInRight.step-four
          .step-position
            .how-work__item__position 04
            +sprite("position", "position-four")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description Оплачиваются услуги iRaise автоматически в виде 40% от чистой прибыли.