.last-news
  .container
    h2 Последние новости компании
    section.carousel
      a.carousel__arrow.carousel__arrow--left(href='#!')
      .carousel__container.slider.responsive
        .carousel__item(data-target='0')
          .carousel__item--img-top(style='background-image: url("./img/news-2.jpg")')
          .carousel__item--info
            .carousel__item--info__date
              |31
              span 12, 2018
            .carousel__item--info__description
              a(href='news-list.html').carousel__item--info__title Компания IRaise сегодня розыграет куча призов к новогодним праздникам, будь в курсе!
              .carousel__item--info__from
                .carousel__item--info__from--sender От:
                  a(href='#') Пресс-центр
                .carousel__item--info__from--date 09.01.2019
                .carousel__item--info__from--sender Категория:
                  a(href='#') Промоакции
              .carousel__item--info__article
                p
                  b Дорогие инвесторы IRaise.
                  br
                  | Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо
                  | материальном носителе человеческая мысль; в общем плане связная и полная
                  | последовательность символов плане связная и полная плане связная и полная плане связная и полная
                  a(href='news-list.html').read-more ... читать далее
                a(href='#').discuss ОБСУДИТЬ


        .carousel__item.carousel__container--active(data-target='1')
          .carousel__item--img-top(style='background-image: url("./img/news-1.jpg")')
          .carousel__item--info
            .carousel__item--info__date
              | 31
              span 12, 2018
            .carousel__item--info__description
              a(href='news-list.html').carousel__item--info__title Компания IRaise сегодня розыграет куча призов к новогодним праздникам, будь в курсе!
              .carousel__item--info__from
                .carousel__item--info__from--sender От:
                  a(href='#') Пресс-центр
                .carousel__item--info__from--date 09.01.2019
                .carousel__item--info__from--sender Категория:
                  a(href='#') Промоакции
              .carousel__item--info__article
                p
                  b Дорогие инвесторы IRaise.
                  br
                  | Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо
                  | материальном носителе человеческая мысль; в общем плане связная и полная
                  | последовательность символов плане связная и полная плане связная и полная плане связная и полная
                  a(href='news-list.html').read-more ... читать далее
                a(href='#').discuss ОБСУДИТЬ

        .carousel__item(data-target='2')
          .carousel__item--img-top(style='background-image: url("./img/news-3.jpg")')
          .carousel__item--info
            .carousel__item--info__date
              | 31
              span 12, 2018
            .carousel__item--info__description
              a(href='news-list.html').carousel__item--info__title Компания IRaise сегодня розыграет куча призов к новогодним праздникам, будь в курсе!
              .carousel__item--info__from
                .carousel__item--info__from--sender От:
                  a(href='#') Пресс-центр
                .carousel__item--info__from--date 09.01.2019
                .carousel__item--info__from--sender Категория:
                  a(href='#') Промоакции
              .carousel__item--info__article
                p
                  b Дорогие инвесторы IRaise.
                  br
                  | Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо
                  | материальном носителе человеческая мысль; в общем плане связная и полная
                  | последовательность символов плане связная и полная плане связная и полная плане связная и полная
                  a(href='news-list.html').read-more ... читать далее
                a(href='#').discuss ОБСУДИТЬ

      a.carousel__arrow.carousel__arrow--right(href='#!')

    .d-flex
      a(href='news-list.html').last-news__link посмотреть все новости