.team
  .container
    .row
      .col
        .team-title
          .team-title__before.wow.delay-1s.animated.pulse
          .team-title__typing.wow.delay-3s Наша команда - наш самый ценный актив
          .team-title__after.wow.delay-1s.animated.pulse

        .team-body
          .team-item.wow.animated.fadeIn
            img(src='./img/avatar.jpg').team-item__avatar
            .team-item__name Эдуард Суровый
            .team-item__position Теннис - аналитик
            .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое углубление росписи само по себе уникально.

          .team-item.wow.animated.fadeIn(data-wow-delay='0.5s')
            img(src='./img/avatar.jpg').team-item__avatar
            .team-item__name Эдуард Суровый
            .team-item__position Теннис - аналитик
            .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы.

          .team-item.wow.animated.fadeIn(data-wow-delay='1s')
            img(src='./img/avatar.jpg').team-item__avatar
            .team-item__name Эдуард Суровый
            .team-item__position Теннис - аналитик
            .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое углубление росписи само по себе уникально. Тут и там что там кто здесь почему.

          .team-item.wow.animated.fadeIn(data-wow-delay='1.5s')
            img(src='./img/avatar.jpg').team-item__avatar
            .team-item__name Эдуард Суровый
            .team-item__position Теннис - аналитик
            .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое углубление росписи само по себе уникально.

          .team-item.wow.animated.fadeIn(data-wow-delay='2s')
            img(src='./img/avatar.jpg').team-item__avatar
            .team-item__name Эдуард Суровый
            .team-item__position Теннис - аналитик
            .team-item__description В маркетах ничего оригинального: чистые победы, двойные шансы, индивидуальные и общие тоталы и форы. Но такое угл. оборот.

          .team-item.wow.animated.fadeIn(data-wow-delay='2.5s')
            img(src='./img/avatar.jpg').team-item__avatar
            .team-item__name Эдуард Суровый
            .team-item__position Теннис - аналитик
            .team-item__description В маркетах ничего оригинального: чистые победы. Войные шансы, индивидуальные и общие тотала.
