.treaties-agreements
  .container
    .row
      .col
        h2.wow.animated.fadeInUp Договоры и соглашения
        p.wow.animated.fadeInUp ООО «Айрейз» – ключевая компания, входящая в структуру сервиса iRaise. Организация зарегистрирована в России и специализируется на поставке подробной аналитики в сегменте спортивных событий. В её штате работают ведущие специалисты, которые собирают, систематизируют и обрабатывают информацию. Эксперты компании определяют вероятные исходы событий и занимаются распределением капитала. В состав ООО «Айрейз» входит дочерняя компания Iraise ltd, которая использует технические ресурсы сервиса iraise.biz. ООО «Айрейз» – центральная организация конгломерата iRaise, вокруг которой построена работа всего нашего сервиса.
        ul
          li.wow.animated.fadeIn
            a(href='#') Головная компания ООО “Айрейз
          li.wow.animated.fadeIn
            a(href='#') Дочерняя компания IRaise LTD
        .treaties-agreements__body
          a(href='#').treaties-agreements-item.wow.animated.fadeIn(data-wow-delay='0.5s')
            img(src='./img/pdf-ico.png').treaties-agreements-ico
            span Договор публичной  оферты
          a(href='#').treaties-agreements-item.wow.animated.fadeIn(data-wow-delay='1s')
            img(src='./img/pdf-ico.png').treaties-agreements-ico
            span Уведомление о рисках
          a(href='#').treaties-agreements-item.wow.animated.fadeIn(data-wow-delay='1.5s')
            img(src='./img/pdf-ico.png').treaties-agreements-ico
            span Политика об обработке  Персональных данных